.container{
    background-color: rgb(226, 226, 233);
    position: fixed;
    width: calc(100% - 350px);
    left: 350px;
    top: 100px;
    height: 100vh;
    padding: 40px;
    padding-bottom: 150px;
    overflow: auto;

    .grid_table{
        display: grid;
        grid-template-columns: repeat(4, auto);
        gap: 20px;
        justify-content: space-around;
    }
}